/*
Name: 			style.scss
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
/* Colors */
/* Responsive */
/* Colors */
/***
*
====================================================================
    Global Settings
====================================================================
*
***/
html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: 14px;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: none;
}

/* Classes */
.d-flex {
  display: flex;
}

.text_align_start {
  text-align: start;
}

.text_align_center {
  text-align: center;
}

.text_align_end {
  text-align: end;
}

/* Fonts */
.playFair-font {
  font-family: "Playfair Display", serif;
}

/* Font-italic */
.italic {
  font-style: italic;
}

/*
    > Section
*/
section {
  height: 100%;
  padding-top: 80px;
}

/* overlay */
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/*
    > Titles
*/
.title {
  color: #333;
  line-height: 1;
  margin-bottom: 40px;
}
.title .small-title {
  font-weight: 700;
  font-size: 12px;
  display: block;
  letter-spacing: 9px;
  color: #999999;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.title .section__title {
  font-size: 45px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .title .section__title {
    font-size: 29px;
  }
}

/*
    > Paragraph
*/
.paragraph {
  color: #908e8e;
  line-height: 1.8;
}

/* Class Colors */
.white {
  color: #FFF;
}

.black {
  color: #000;
}

/* Ratios */
.ratio-holder {
  position: relative;
  overflow: hidden;
}
.ratio-holder .ratio {
  padding-top: 100%;
}
.ratio-holder .ratio.video-ratio {
  padding-top: 120%;
}
.ratio-holder .ratio.menu-ratio {
  padding-top: 70%;
}
.ratio-holder .ratio.chief-img-ratio {
  padding-top: 163%;
}
.ratio-holder .ratio.square-ratio {
  padding-top: 100%;
}
.ratio-holder .ratio-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ratio-holder .ratio-content .img {
  width: 100%;
  min-height: 100%;
}

/* bg-pattern */
.bg-pattern {
  background-image: url("../images/background/pattern.jpg");
}

/* Clickable anchor */
.clickable__item {
  position: relative;
}
.clickable__item .clickable__anchor {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* links */
.link,
.link:hover,
.link:focus {
  font-size: 16px;
  text-decoration: underline;
  letter-spacing: 1px;
  font-weight: 700;
  display: inline-block;
}

/**
 *
    > Grid System
 *
**/
.grid-card-1 {
  grid-area: grid-card-1;
}

.grid-card-2 {
  grid-area: grid-card-2;
}

.grid-card-3 {
  grid-area: grid-card-3;
}

.grid-card-4 {
  grid-area: grid-card-4;
}

.grid-card-5 {
  grid-area: grid-card-5;
}

/* Scroll */
#scroll-top {
  background-color: #ff8271;
  color: #FFF;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  position: fixed;
  z-index: 999;
  right: 20px;
  border-radius: 50%;
  padding-top: 4px;
  cursor: pointer;
  bottom: 10px;
  display: none;
  opacity: 0.9;
}

/* Loading */
@keyframes preloader-o {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    transform: translate(24px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(24px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}
@keyframes preloader {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(24px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.preloader div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 38px;
  left: 26px;
}

.preloader div:nth-child(1) {
  background: #131a21;
  animation: preloader 1s linear infinite;
  animation-delay: -0.5s;
}

.preloader div:nth-child(2) {
  background: #FFF;
  animation: preloader 1s linear infinite;
  animation-delay: 0s;
}

.preloader div:nth-child(3) {
  background: #131a21;
  animation: preloader-o 1s linear infinite;
  animation-delay: -0.5s;
}

.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  position: fixed;
  background-color: #ccc;
}

.preloader {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateZ(0) scale(0.84);
  transform-origin: 0 0;
}

.preloader div {
  box-sizing: content-box;
}

/* ========== Contain Button style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Button ========== */
.btn {
  font-size: 17px;
  border: 1px solid #333;
  padding: 15px 23px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-color: unset;
  border-radius: 0;
}
.btn:focus {
  outline-offset: unset;
  box-shadow: unset;
}
.btn:hover {
  background-color: #ccc;
}

.reservation-btn {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  .reservation-btn {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .reservation-btn {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

/* ========== Contain Video style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Video ========== */
.video {
  position: relative;
}
.video .video-bg {
  width: 100%;
  min-height: 100%;
}
.video .video-controllers {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, black 100%);
}
.video .video-controllers .control-play {
  background: none;
  border: none;
  color: #FFF;
}
.video .video-controllers .control-play .icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 12px;
}

/* ========== Contain Slider style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Slider ========== */
.slider {
  padding: 50px 0;
}
.slider .slider__container {
  position: relative;
  padding: 0 60px;
}
.slider .slider__container .slider__group {
  overflow: hidden;
}
.slider .slider__container .slider__group .slider__banner {
  position: relative;
  left: 0;
  transition: left 0.4s;
}
.slider .slider__container .slider__group .slider__banner .slider__item {
  float: left;
}
.slider .slider__container .slider__control .arrow {
  height: 46px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -23px;
  font-size: 46px;
  line-height: 1;
  z-index: 3;
}
.slider .slider__container .slider__control .arrow.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.slider .slider__container .slider__control .arrow.next {
  right: 0;
}
.slider .slider__container .slider__control .arrow.prev {
  left: 0;
}

/* Chief testimonials Slider */
.slider .chief__slider {
  padding: 0;
}
.slider .chief__slider .slider__control .arrow {
  position: static;
  margin-top: 0;
  font-size: 21px;
}
.slider .chief__slider .slider__control .arrow.prev {
  margin-right: 10px;
}

/* ========== Contain Card style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Card ========== */
.card {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: #FFF;
  padding: 20px;
  text-align: center;
}
.card .card__title {
  font-size: 20px;
}
.card .card__img {
  position: relative;
}

/**
 *
    > newsSection cards
 *
**/
.newsSection .card__group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3% 10%;
  grid-template-areas: "grid-card-1 grid-card-2 grid-card-3" "grid-card-4 grid-card-5 grid-card-6";
}
.newsSection .card__group .card {
  padding: 0;
}
.newsSection .card__group .card img {
  width: 100%;
  min-height: 100%;
}
.newsSection .card__group .card .card__content {
  padding-top: 20%;
}
.newsSection .card__group .card .card__content .card__title {
  position: relative;
  margin-bottom: 30px;
}
.newsSection .card__group .card .card__content .card__title h4 {
  font-size: 18px;
  max-width: 200px;
  margin: 0 auto;
  font-weight: 600;
  padding-bottom: 30px;
}
.newsSection .card__group .card .card__content .card__title h4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  border-bottom: 1px dashed #ccc;
  display: block;
}
.newsSection .card__group .card .card__content .paragraph {
  line-height: 1.4;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .newsSection .card__group {
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: "grid-card-1" "grid-card-2" "grid-card-3" "grid-card-4" "grid-card-5" "grid-card-6";
  }
  .newsSection .card__group .card__content {
    padding: 10% 0 !important;
  }
}

/* ========== Contain Header style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Header ========== */
header {
  background-image: url(../images/background/bg.jpg);
  background-size: cover;
  position: relative;
  height: 100%;
}
header .overlay {
  padding-top: 180px;
}
header .title {
  color: #FFF;
  text-align: end;
  font-size: 55px;
}
header .title .small-title {
  color: #fff9f9;
}
header .header__info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
header .header__info .container {
  position: relative;
}
header .header__info .header__info__img {
  margin-bottom: -100px;
  box-shadow: 2px 12px 40px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  float: right;
}
header .header__info .info {
  font-size: 12px;
  font-weight: 600;
  color: #FFF;
  text-align: end;
  position: absolute;
  right: 0;
  bottom: 40px;
}
header .header__info .info .phone-number {
  font-size: 26px;
  margin: 0 0 25px;
}
header .header__info .info .small-title {
  color: #ccc;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header {
    height: 60%;
  }
  header .header__info__img {
    width: 350px;
  }
}
@media only screen and (max-width: 767px) {
  header .header__info__img {
    display: none;
  }
  header .title {
    text-align: start;
  }
  header .header__info .info {
    text-align: start;
  }
}

/* ========== Contain Navbar style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Navbar ========== */
nav {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
nav .logo {
  width: 35px;
  overflow: hidden;
  position: relative;
}
nav .logo::before {
  content: "";
  display: block;
  padding-top: 131.4%;
}
nav .logo img {
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
nav .nav__btn {
  display: none;
}
nav .nav__list {
  width: 100%;
  position: relative;
  top: 10px;
  text-align: end;
  font-size: 16px;
  font-weight: 600;
}
nav .nav__list .nav__list__item {
  display: inline-block;
  color: #FFF;
  margin-left: 40px;
  position: relative;
}
nav .nav__list .nav__list__item:first-child {
  margin-left: 0;
}
nav .nav__list .nav__list__item:last-child {
  margin-left: 80px;
}
nav .nav__list .nav__list__item:last-child .icon {
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  right: 0;
  transition: right 0.4s;
}
nav.sticky {
  background-color: #FFF;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
nav.sticky .logo img {
  top: -100%;
}
nav.sticky .nav__list .nav__list__item {
  color: #333;
}
@media only screen and (min-width: 768px) {
  nav .nav__list .nav__list__item::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #FFF;
    transition: width 0.4s;
  }
  nav .nav__list .nav__list__item:hover:before {
    width: 100%;
  }
  nav .nav__list .nav__list__item:hover:last-child .icon {
    right: -5px;
  }
  nav.sticky .nav__list .nav__list__item:before {
    background-color: #333;
  }
}
@media only screen and (max-width: 767px) {
  nav .nav__btn {
    position: absolute;
    display: block;
    right: 25px;
    width: 40px;
    background: unset;
    border: none;
    margin-top: 16px;
  }
  nav .nav__btn .nav__btn__line {
    display: block;
    height: 3px;
    margin-bottom: 6px;
    background-color: #FFF;
  }
  nav .nav__btn .nav__btn__line:last-child {
    margin-bottom: 0;
  }
  nav:not(.active) .nav__list {
    margin-right: -200px;
    transition: 0.1s;
    transition-delay: 1.4s;
  }
  nav:not(.active) .nav__list .nav__list__item {
    right: -200px;
  }
  nav .nav__list {
    width: 200px;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  nav .nav__list .nav__list__item {
    position: relative;
    right: 0;
    display: block;
    margin-left: 0;
    background-color: #333;
    margin-bottom: 10px;
    transition: right 0.3s;
  }
  nav .nav__list .nav__list__item:nth-child(2) {
    transition-delay: 0.2s;
  }
  nav .nav__list .nav__list__item:nth-child(3) {
    transition-delay: 0.4s;
  }
  nav .nav__list .nav__list__item:nth-child(4) {
    transition-delay: 0.6s;
  }
  nav .nav__list .nav__list__item:nth-child(5) {
    transition-delay: 1s;
  }
  nav .nav__list .nav__list__item a {
    border-bottom: 1px solid #000;
    padding: 15px;
    display: block;
  }
  nav .nav__list .nav__list__item:last-child {
    margin-left: 0;
  }
  nav .nav__list .nav__list__item:hover, nav .nav__list .nav__list__item:active {
    background-color: #000;
  }
  nav.sticky .nav__btn__line {
    background-color: #333;
  }
  nav.sticky .nav__list__item {
    color: #FFF !important;
  }
}

/* ========== Contain Footer style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Footer ========== */
footer {
  background-color: #131a21;
  text-align: center;
  padding: 50px 20px 30px;
}
footer .logo {
  width: 35px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
footer .logo::before {
  content: "";
  display: block;
  padding-top: 131.4%;
}
footer .logo img {
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
footer .footer__links {
  margin-bottom: 50px;
}
footer .footer__links .link {
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  padding: 0 15px;
  border-right: 1px solid #999999;
  text-decoration: none;
  font-weight: 400;
}
footer .footer__links .link:first-child {
  padding-left: 0;
}
footer .footer__links .link:last-child {
  border-right: none;
  padding-right: 0;
}
footer .footer__socilaMedia {
  margin-bottom: 30px;
}
footer .footer__socilaMedia .social-link {
  margin-right: 15px;
  color: #FFF;
  font-size: 16px;
}
footer .copyrights .paragraph {
  margin-bottom: 0;
  line-height: 1.5;
}
footer a:hover {
  color: #333 !important;
}
@media only screen and (max-width: 767px) {
  footer .footer__links {
    padding-left: 0;
  }
  footer .footer__links .link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    border-right: none;
  }
}

/* ========== Contain Home-Page style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Home-Page ========== */
main {
  /* Start our story Section */
  /* End our story Section */
  /* Start Menu Section */
  /* End Menu Section */
  /* Start testimonials Section */
  /* End testimonials Section */
  /* Start Chief testimonials Section */
  /* End Chief testimonials Section */
  /* Start news Section */
  /* End news Section */
  /* Start contact-Us section */
  /* End contact-Us section */
}
main .ourStory {
  padding-top: 160px;
  padding-bottom: 60px;
}
main .ourStory .section-body .paragraph {
  margin: 40px 0;
}
main .ourStory .video {
  width: 80%;
  float: right;
  margin: 0 auto;
}
main .ourStory .video::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  left: -60px;
  width: 100%;
  height: 100%;
  background: url("../images/background/dots.png") repeat;
}
@media only screen and (max-width: 767px) {
  main .ourStory {
    padding-top: 50px;
  }
  main .ourStory .video {
    width: 90%;
    margin: 0 auto;
    float: none;
  }
}
main .menuSection {
  text-align: center;
}
main .menuSection .slider .slider__container .slider__group {
  position: relative;
}
main .menuSection .slider .slider__container .slider__group .slider__item .card .card__img.have__price {
  margin-bottom: 50px;
}
main .menuSection .slider .slider__container .slider__group .slider__item .card .card__img .price__holder {
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
  text-align: center;
}
main .menuSection .slider .slider__container .slider__group .slider__item .card .card__img .price__holder .price {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-color: #FFF;
  font-size: 35px;
  border-radius: 50%;
  line-height: 80px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4);
}
main .menuSection .link {
  font-size: 20px;
  margin-bottom: 35px;
}
main .testimonialsSection {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/background/bg-2.jpg");
  height: auto;
  min-height: auto;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  color: #FFF;
  padding: 90px 15px;
  font-weight: 700;
}
main .testimonialsSection .testimonial__icon {
  font-size: 35px;
  margin-bottom: 50px;
}
main .testimonialsSection .testimonial__content .paragraph {
  color: #FFF;
  font-size: 25px;
}
main .testimonialsSection .testimonial__author h5 {
  font-size: 14px;
  margin-top: 70px;
}
main .testimonialsSection .testimonial__author h5:before {
  content: "";
  width: 7px;
  height: 1px;
  display: inline-block;
  background-color: #FFF;
  vertical-align: middle;
  margin-right: 3px;
}
main .testimonialsSection .testimonial__author h5:after {
  content: "";
  width: 7px;
  height: 1px;
  display: inline-block;
  background-color: #FFF;
  vertical-align: middle;
  margin-left: 3px;
}
main .chiefTestimonials .chiefTestimonial__img {
  max-width: 350px;
}
main .chiefTestimonials .chiefTestimonial__img img {
  width: 100%;
  min-height: 100%;
}
main .chiefTestimonials .section-body .slider {
  padding-bottom: 0;
}
@media only screen and (max-width: 767px) {
  main .chiefTestimonials {
    padding-bottom: 40px;
  }
  main .chiefTestimonials .chiefTestimonial__img {
    display: none;
  }
  main .chiefTestimonials .title,
main .chiefTestimonials .section-body {
    text-align: center;
  }
  main .chiefTestimonials .slider {
    padding: 0;
  }
}
main .newsSection .card__group .arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 1;
}
main .newsSection .card__group .arrow.arrow-left::before {
  border-right: 15px solid #FFF;
  right: 100%;
}
main .newsSection .card__group .arrow.arrow-right::before {
  border-left: 15px solid #FFF;
  left: 100%;
}
main .newsSection .card__group .arrow.arrow-top::before {
  border-top: none;
  border-bottom: 15px solid #FFF;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  left: 50%;
  margin-left: -10px;
  bottom: 100%;
  top: auto;
}
@media (min-width: 768px) and (max-width: 1022px) {
  main .newsSection .section-body .new_card .card__content {
    padding-top: 20px;
  }
  main .newsSection .section-body .new_card .card__content .card__title {
    margin-bottom: 20px;
  }
  main .newsSection .section-body .new_card .card__content .card__title h4 {
    font-size: 15px;
    padding-bottom: 20px;
  }
  main .newsSection .section-body .new_card .card__content .paragraph {
    font-size: 10px;
    line-height: 1;
  }
}
@media only screen and (max-width: 767px) {
  main .newsSection .card__group .grid-card-2,
main .newsSection .card__group .grid-card-4,
main .newsSection .card__group .grid-card-6 {
    margin-bottom: 20px;
  }
  main .newsSection .card__group .arrow.arrow-left::before, main .newsSection .card__group .arrow.arrow-right::before, main .newsSection .card__group .arrow.arrow-top::before {
    border-top: none;
    border-bottom: 15px solid #FFF;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    left: 50%;
    margin-left: -10px;
    bottom: 100%;
    top: auto;
  }
}
main .contactUs .section-body {
  background-color: #FFF;
  padding: 50px 45px;
}
main .contactUs .section-body .line__bottom {
  position: relative;
}
main .contactUs .section-body .line__bottom::before {
  content: "";
  display: block;
  width: 70px;
  border-bottom: 3px solid #333;
  position: absolute;
  left: 0;
  bottom: 0;
}
main .contactUs .section-body .country__city {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 10px;
}
main .contactUs .section-body .country__city .country {
  color: #ccc;
}
main .contactUs .section-body .address {
  margin: 0 0 30px;
}
main .contactUs .section-body .call__us .phone-number {
  margin-bottom: 30px;
  font-size: 35px;
}
main .contactUs .section-body .service {
  margin-bottom: 40px;
}
main .contactUs .section-body .service .servie__title {
  margin-bottom: 8px;
  font-size: 17px;
}
main .contactUs .section-body .service .paragraph {
  font-size: 13px;
  margin: 0 0 3px;
}
main .contactUs .section-body .service .paragraph:last-child {
  margin-bottom: 0;
  line-height: 1;
}
main .contactUs .section-body .service:last-child {
  margin-bottom: 0;
}
main .contactUs .map {
  margin-bottom: -4px;
}
main .contactUs .map iframe {
  width: 100%;
  height: 500px;
}
@media only screen and (min-width: 768px) {
  main .contactUs .section-body {
    width: 80%;
    margin: 0 auto;
    margin-bottom: -50px;
    position: relative;
    z-index: 1;
    bottom: -30px;
  }
}
@media only screen and (max-width: 767px) {
  main .contactUs .section-body {
    text-align: start;
    margin-bottom: 20px;
  }
  main .contactUs .section-body .line__bottom::before {
    display: none;
  }
  main .contactUs .section-body .call__us .phone-number {
    font-size: 26px;
  }
}

/*# sourceMappingURL=style.css.map */
