/*
Name: 			style.scss
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
/* Colors */
/* Responsive */
/* Colors */
/***
*
====================================================================
    Global Settings
====================================================================
*
***/
html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.d-flex {
  display: flex;
}

/* Fonts */
.playFair__font {
  font-family: "Playfair Display", serif;
}

/* Font-italic */
.italic {
  font-style: italic;
}

/*
    > Section
*/
section {
  height: 100%;
  padding-top: 92px;
}

/* overlay */
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/*
    > Titles
*/
.title {
  color: #333;
  line-height: 1;
}
.title .small__title {
  font-weight: 600;
  font-size: 12px;
  display: block;
  letter-spacing: 9px;
  color: #999999;
  margin-bottom: 25px;
}
.title .section__title {
  font-size: 45px;
  font-weight: 700;
}

/*
    > Paragraph
*/
.paragraph {
  color: #999999;
  line-height: 1.8;
}

/* Class Colors */
.white {
  color: #FFF;
}

.black {
  color: #000;
}

/* Ratios */
.ratio-holder {
  position: relative;
  overflow: hidden;
}
.ratio-holder .ratio {
  padding-top: 100%;
}
.ratio-holder .ratio.video-ratio {
  padding-top: 120%;
}
.ratio-holder .ratio.menu-ratio {
  padding-top: 70%;
}
.ratio-holder .ratio-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ratio-holder .ratio-content .img {
  width: 100%;
  min-height: 100%;
}

/* bg-pattern */
.bg-pattern {
  background-image: url("../images/background/pattern.jpg");
}

/* Clickable anchor */
.clickable__item {
  position: relative;
}
.clickable__item .clickable__anchor {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* links */
.link, .link:hover, .link:focus {
  font-size: 16px;
  text-decoration: underline;
  letter-spacing: 1px;
  font-weight: 700;
  display: inline-block;
}

/* ========== Contain Button style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Button ========== */
.btn {
  font-size: 17px;
  border: 1px solid #333;
  padding: 15px 23px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-color: unset;
  border-radius: 0;
}
.btn:focus {
  outline-offset: unset;
  box-shadow: unset;
}
.btn:hover {
  background-color: #ccc;
}

.reservation-btn {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  .reservation-btn {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .reservation-btn {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

/* ========== Contain Video style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Video ========== */
.video {
  position: relative;
}
.video .video-bg {
  width: 100%;
  min-height: 100%;
}
.video .video-controllers {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, black 100%);
}
.video .video-controllers .control-play {
  background: none;
  border: none;
  color: #FFF;
}
.video .video-controllers .control-play .icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 12px;
}

/* ========== Contain Slider style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Slider ========== */
.slider {
  padding: 50px 0;
}
.slider .slider__container {
  position: relative;
  padding: 0 45px;
}
.slider .slider__container .slider__control .arrow {
  height: 46px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -23px;
  font-size: 46px;
  line-height: 1;
  z-index: 3;
}
.slider .slider__container .slider__control .arrow.next {
  right: 0;
}
.slider .slider__container .slider__control .arrow.prev {
  left: 0;
}

/* ========== Contain Card style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Card ========== */
.card {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: #FFF;
  padding: 20px;
  text-align: center;
}
.card .card__title {
  font-size: 20px;
}
.card .card__img {
  position: relative;
}

/* ========== Contain Header style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Header ========== */
header {
  background-image: url(../images/background/bg.jpg);
  background-size: cover;
  position: relative;
  height: 100%;
}
header .overlay {
  padding-top: 180px;
}
header .title {
  color: #FFF;
  text-align: end;
  font-size: 55px;
}
header .header__info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
header .header__info .container {
  position: relative;
}
header .header__info .info__img {
  margin-bottom: -100px;
  box-shadow: 2px 12px 40px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  float: right;
}
header .header__info .info {
  font-size: 12px;
  color: #FFF;
  text-align: end;
  position: absolute;
  right: 0;
  bottom: 40px;
}
header .header__info .info .phone__number {
  font-size: 26px;
  margin: 0 0 25px;
}
header .header__info .info .small__title {
  color: #ccc;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header {
    height: 60%;
  }
  header .info__img {
    width: 350px;
  }
}
@media only screen and (max-width: 767px) {
  header .info__img {
    display: none;
  }
  header .title {
    text-align: start;
  }
  header .header__info .info {
    text-align: start;
  }
}

/* ========== Contain Navbar style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Navbar ========== */
nav {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
nav .logo {
  width: 35px;
  overflow: hidden;
  position: relative;
}
nav .logo::before {
  content: "";
  display: block;
  padding-top: 131.4%;
}
nav .logo img {
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
nav .nav-btn {
  display: none;
}
nav .nav-list {
  width: 100%;
  position: relative;
  top: 10px;
  text-align: end;
  font-size: 16px;
  font-weight: 600;
}
nav .nav-list .list-item {
  display: inline-block;
  color: #FFF;
  margin-left: 40px;
  position: relative;
}
nav .nav-list .list-item:first-child {
  margin-left: 0;
}
nav .nav-list .list-item:last-child {
  margin-left: 80px;
}
nav .nav-list .list-item:last-child .icon {
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  right: 0;
  transition: right 0.4s;
}
nav.sticky {
  background-color: #FFF;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
nav.sticky .logo img {
  top: -100%;
}
nav.sticky .nav-list .list-item {
  color: #333;
}
@media only screen and (min-width: 768px) {
  nav .nav-list .list-item::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #FFF;
    transition: width 0.4s;
  }
  nav .nav-list .list-item:hover:before {
    width: 100%;
  }
  nav .nav-list .list-item:hover:last-child .icon {
    right: -5px;
  }
  nav.sticky .nav-list .list-item:before {
    background-color: #333;
  }
}
@media only screen and (max-width: 767px) {
  nav .nav-btn {
    position: absolute;
    display: block;
    right: 25px;
    width: 40px;
    background: unset;
    border: none;
    margin-top: 16px;
  }
  nav .nav-btn .btn-line {
    display: block;
    height: 3px;
    margin-bottom: 6px;
    background-color: #FFF;
  }
  nav .nav-btn .btn-line:last-child {
    margin-bottom: 0;
  }
  nav .nav-list {
    overflow-x: hidden;
  }
  nav:not(.active) .nav-list {
    transition: 1s;
    transition-delay: 1.4s;
    margin-right: -200px;
  }
  nav:not(.active) .nav-list .list-item {
    right: -200px;
  }
  nav .nav-list {
    width: 200px;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  nav .nav-list .list-item {
    position: relative;
    right: 0;
    display: block;
    margin-left: 0;
    background-color: #333;
    margin-bottom: 10px;
    transition: right 0.3s;
  }
  nav .nav-list .list-item:nth-child(2) {
    transition-delay: 0.2s;
  }
  nav .nav-list .list-item:nth-child(3) {
    transition-delay: 0.4s;
  }
  nav .nav-list .list-item:nth-child(4) {
    transition-delay: 0.6s;
  }
  nav .nav-list .list-item:nth-child(5) {
    transition-delay: 1s;
  }
  nav .nav-list .list-item a {
    border-bottom: 1px solid #000;
    padding: 15px;
    display: block;
  }
  nav .nav-list .list-item:last-child {
    margin-left: 0;
  }
  nav .nav-list .list-item:hover, nav .nav-list .list-item:active {
    background-color: #000;
  }
  nav.sticky .btn-line {
    background-color: #333;
  }
  nav.sticky .list-item {
    color: #FFF !important;
  }
}

/* ========== Contain Home-Page style ========== */
/* Colors */
/* Responsive */
/* Colors */
/* ========== Home-Page ========== */
main {
  /* Start our story Section */
  /* End our story Section */
  /* Start Menu Section */
  /* End Menu Section */
}
main .our__story {
  padding-top: 160px;
  padding-bottom: 60px;
}
main .our__story .section__body .paragraph {
  margin: 40px 0;
}
main .our__story .video {
  width: 80%;
  float: right;
  margin: 0 auto;
}
main .our__story .video::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  left: -60px;
  width: 100%;
  height: 100%;
  background: url("../images/background/dots.png") repeat;
}
@media only screen and (max-width: 767px) {
  main .our__story {
    padding-top: 50px;
  }
  main .our__story .title .section__title {
    font-size: 29px;
  }
  main .our__story .video {
    width: 90%;
    margin: 0 auto;
    float: none;
  }
}
main .menu__section {
  text-align: center;
}
main .menu__section .slider .slider__container .menu__slider {
  position: relative;
}
main .menu__section .slider .slider__container .menu__slider .card .card__img.have__price {
  margin-bottom: 50px;
}
main .menu__section .slider .slider__container .menu__slider .card .card__img .price__holder {
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
  text-align: center;
}
main .menu__section .slider .slider__container .menu__slider .card .card__img .price__holder .price {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-color: #FFF;
  font-size: 35px;
  border-radius: 50%;
  line-height: 80px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4);
}
main .menu__section .link {
  font-size: 20px;
  margin-bottom: 35px;
}

/*# sourceMappingURL=style.css.map */
