// desc: 'Contain Utilities styles'

// Utilities Variables
@import '../partials/variables';
@import '../partials/colors';

/***
*
====================================================================
    Global Settings
====================================================================
*
***/

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-size: $body-font-size;
    // font-family: $body-font-family;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;

    &:hover,
    &:focus {
        color: inherit;
        text-decoration: none;
    }
}

button {
    &:focus {
        outline: none;
    }
}

/* Classes */
.d-flex {
    display: flex;
}

.text_align_start {
    text-align: $text-align-start;
}

.text_align_center {
    text-align: $text-align-center;
}

.text_align_end {
    text-align: $text-align-end;
}

/* Fonts */
.playFair-font {
    font-family: 'Playfair Display', serif;
}

/* Font-italic */
.italic {
    font-style: italic;
}

/*
    > Section
*/
section {
    height: 100%;
    padding-top: 80px;
}

/* overlay */
.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

/*
    > Titles
*/
.title {
    color: $gray;
    line-height: 1;
    margin-bottom: 40px;

    .small-title {
        font-weight: $font-weight-700;
        font-size: 12px;
        display: block;
        letter-spacing: 9px;
        color: $smokeGray;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    .section__title {
        font-size: 45px;
        font-weight: $font-weight-700;
    }

    @media #{$smallDevices} {
        .section__title {
            font-size: 29px;
        }
    }
}

/*
    > Paragraph
*/
.paragraph {
    color: $smokeGray2;
    line-height: 1.8;
}


/* Class Colors */
.white {
    color: $white;
}

.black {
    color: $black;
}

/* Ratios */
.ratio-holder {
    position: relative;
    overflow: hidden;

    .ratio {
        padding-top: 100%;

        &.video-ratio {
            padding-top: 120%;
        }

        &.menu-ratio {
            padding-top: 70%;
        }

        &.chief-img-ratio {
            padding-top: 163%;
        }

        &.square-ratio {
            padding-top: 100%;
        }
    }

    .ratio-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .img {
            width: 100%;
            min-height: 100%;
        }
    }
}

/* bg-pattern */
.bg-pattern {
    background-image: url('../images/background/pattern.jpg');
}

/* Clickable anchor */
.clickable__item {
    position: relative;

    .clickable__anchor {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* links */
.link,
.link:hover,
.link:focus {
    font-size: 16px;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: $font-weight-700;
    display: inline-block;
}


/**
 *
    > Grid System
 *
**/
.grid-card-1 {
    grid-area: grid-card-1;
}

.grid-card-2 {
    grid-area: grid-card-2;
}

.grid-card-3 {
    grid-area: grid-card-3;
}

.grid-card-4 {
    grid-area: grid-card-4;
}

.grid-card-5 {
    grid-area: grid-card-5;
}


/* Scroll */
#scroll-top {
    background-color: $bink;
    color: $white;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: fixed;
    z-index: 999;
    right: 20px;
    border-radius: 50%;
    padding-top: 4px;
    cursor: pointer;
    bottom: 10px;
    display: none;
    opacity: 0.9;
}

/* Loading */
@keyframes preloader-o {
    0% {
        opacity: 1;
        transform: translate(0 0);
    }

    49.99% {
        opacity: 1;
        transform: translate(24px, 0);
    }

    50% {
        opacity: 0;
        transform: translate(24px, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}

@keyframes preloader {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(24px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.preloader div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 38px;
    left: 26px;
}

.preloader div:nth-child(1) {
    background: $blue;
    animation: preloader 1s linear infinite;
    animation-delay: -0.5s;
}

.preloader div:nth-child(2) {
    background: $white;
    animation: preloader 1s linear infinite;
    animation-delay: 0s;
}

.preloader div:nth-child(3) {
    background: $blue;
    animation: preloader-o 1s linear infinite;
    animation-delay: -0.5s;
}

.loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    position: fixed;
    background-color: $smokeWhite;
}

.preloader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateZ(0) scale(0.84);
    transform-origin: 0 0;
}

.preloader div {
    box-sizing: content-box;
}