/* ========== Contain Home-Page style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Home-Page ========== */
main {

    /* Start our story Section */
    .our__story {
        padding-top: 160px;
        padding-bottom: 60px;

        .section__body {
            .paragraph {
                margin: 40px 0;
            }
        }

        .video {
            width: 80%;
            float: right;
            margin: 0 auto;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: -30px;
                left: -60px;
                width: 100%;
                height: 100%;
                background: url('../images/background/dots.png') repeat;
            }
        }

        @media #{$smallDevices} {
            padding-top: 50px;

            .video {
                width: 90%;
                margin: 0 auto;
                float: none;
            }
        }
    }

    /* End our story Section */

    /* Start Menu Section */
    .menu__section {
        text-align: $text-align-center;

        .slider {
            .slider__container {
                .slider__group {
                    position: relative;

                    .slider__item {
                        .card {
                            .card__img {
                                &.have__price {
                                    margin-bottom: 50px;
                                }

                                .price__holder {
                                    position: absolute;
                                    bottom: -40px;
                                    right: 0;
                                    left: 0;
                                    text-align: $text-align-center;

                                    .price {
                                        width: 80px;
                                        height: 80px;
                                        display: inline-block;
                                        background-color: $white;
                                        font-size: 35px;
                                        border-radius: 50%;
                                        line-height: 80px;
                                        box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .link {
            font-size: 20px;
            margin-bottom: 35px;
        }
    }

    /* End Menu Section */

    /* Start testimonials Section */
    .testimonials__section {
        background: linear-gradient(rgba($black, 0.4), rgba($black, 0.4)), url('../images/background/bg-2.jpg');
        height: auto;
        min-height: auto;
        background-position: center center;
        background-attachment: fixed;
        text-align: $text-align-center;
        color: $white;
        padding: 90px 15px;
        font-weight: $font-weight-700;

        .testimonial__icon {
            font-size: 35px;
            margin-bottom: 50px;
        }

        .testimonial__content {
            .paragraph {
                color: $white;
                font-size: 25px;
            }
        }

        .testimonial__author {
            h5 {
                &:before {
                    content: '';
                    width: 7px;
                    height: 1px;
                    display: inline-block;
                    background-color: $white;
                    vertical-align: middle;
                    margin-right: 3px;
                }

                font-size: 14px;
                margin-top: 70px;

                &:after {
                    content: '';
                    width: 7px;
                    height: 1px;
                    display: inline-block;
                    background-color: $white;
                    vertical-align: middle;
                    margin-left: 3px;
                }
            }
        }
    }

    /* End testimonials Section */

    /* Start Chief testimonials Section */
    .chief__testimonials {
        .chief__img {
            max-width: 350px;

            img {
                width: 100%;
                min-height: 100%;
            }
        }

        .section__body {
            .slider {
                padding-bottom: 0;
            }
        }

        @media #{$smallDevices} {
            padding-bottom: 40px;
            .chief__img {
                display: none;
            }

            .title,
            .section__body {
                text-align: $text-align-center;
            }

            .slider {
                padding: 0;
            }
        }
    }

    /* End Chief testimonials Section */

    /* Start news Section */
    .news__section {
        .card__group {
            .arrow {
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    z-index: 1;
                }

                &.arrow-left {
                    &::before {
                        border-right: 15px solid $white;
                        right: 100%;
                    }
                }

                &.arrow-right {
                    &::before {
                        border-left: 15px solid $white;
                        left: 100%;
                    }
                }

                &.arrow-top {
                    &::before {
                        border-top: none;
                        border-bottom: 15px solid $white;
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                        left: 50%;
                        margin-left: -10px;
                        bottom: 100%;
                        top: auto;
                    }
                }
            }
        }

        @media (min-width: 768px) and (max-width: 1022px) {
            .section__body {
                .new_card {
                    .card__content {
                        padding-top: 20px;
                        .card__title {
                            margin-bottom: 20px;
                            h4 {
                                font-size: 15px;
                                padding-bottom: 20px;
                            }
                        }
                        .paragraph {
                            font-size: 10px;
                            line-height: 1;
                        }
                    }
                }
            }
        }

        @media #{$smallDevices} {
            .card__group {

                .grid-card-2,
                .grid-card-4,
                .grid-card-6 {
                    margin-bottom: 20px;
                }

                .arrow {

                    &.arrow-left,
                    &.arrow-right,
                    &.arrow-top {
                        &::before {
                            border-top: none;
                            border-bottom: 15px solid $white;
                            border-right: 10px solid transparent;
                            border-left: 10px solid transparent;
                            left: 50%;
                            margin-left: -10px;
                            bottom: 100%;
                            top: auto;
                        }
                    }
                }
            }
        }
    }
    /* End news Section */

    /* Start contact-Us section */
    .contactUs__section {
        .section__body {
            background-color: $white;
            padding: 50px 45px;
            .line__bottom {
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 70px;
                    border-bottom: 3px solid $gray;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            .country__city {
                font-size: 30px;
                font-weight: $font-weight-600;
                margin: 0 0 10px;
                .country {
                    color: $smokeWhite;
                }
            }
            .address {
                margin: 0 0 30px;
            }
            .call__us {
                .phone__number {
                    margin-bottom: 30px;
                    font-size: 35px;
                }
            }
            .service {
                margin-bottom: 40px;
                .servie__title {
                    margin-bottom: 8px;
                    font-size: 17px;
                }
                .paragraph {
                    font-size: 13px;
                    margin: 0 0 3px;
                    &:last-child {
                        margin-bottom: 0;
                        line-height: 1;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .map {
            margin-bottom: -4px;
            iframe {
                width: 100%;
                height: 500px;
            }
        }

        @media #{$AllLargeDevices} {
            .section__body {
                width: 80%;
                margin: 0 auto;
                margin-bottom: -50px;
                position: relative;
                z-index: 1;
                bottom: -30px;
            }
        }

        @media #{$smallDevices} {
            .section__body {
                text-align: $text-align-start;
                margin-bottom: 20px;
                .line__bottom {
                    &::before {
                        display: none;
                    }
                }
                .call__us {
                    .phone__number {
                        font-size: 26px;
                    }
                }
            }
        }
    }
    /* End contact-Us section */
}