/* ========== Contain Header style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Header ========== */
header {
    background-image: url(../images/background/bg.jpg);
    background-size: cover;
    position: relative;
    height: 100%;
    .overlay {
        padding-top: 180px;
    }
    .title {
        color: $white;
        text-align: $text-align-end;
        font-size: 55px;
        .small-title {
            color: $smokelite;
        }
    }
    .header__info {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        .container {
            position: relative;
        }
        .header__info__img {
            margin-bottom: -100px;
            box-shadow: 2px 12px 40px 0 rgba($black ,0.25);
            border-radius: 50%;
            float: right;
        }
        .info {
            font-size: 12px;
            font-weight: $font-weight-600;
            color: $white;
            text-align: $text-align-end;
            position: absolute;
            right: 0;
            bottom: 40px;
            .phone-number {
                font-size: 26px;
                margin: 0 0 25px;
            }
            .small-title {
                color: $smokeWhite;
                margin: 0;
            }
        }
    }
    @media #{$MediumDevices} {
        height: 60%;
        .header__info__img {
            width: 350px;
        }
    }
    @media #{$smallDevices} {
        .header__info__img {
            display: none;
        }
        .title {
            text-align: $text-align-start;
        }
        .header__info {
            .info {
                text-align: $text-align-start;
            }
        }
    }
}