/* ========== Contain Footer style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Header ========== */
header {
    background-image: url(../images/background/bg.jpg);
    background-size: cover;
    height: 100%;
}