/* ========== Contain Slider style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Slider ========== */
.slider {
    padding: 50px 0;
    .slider__container {
        position: relative;
        padding: 0 60px;
        .slider__group {
            overflow: hidden;
            .slider__banner {
                position: relative;
                left: 0;
                transition: left 0.4s;
                .slider__item {
                    float: left;
                }
            }
        }
        .slider__control {
            .arrow {
                height: 46px;
                background: none;
                border: none;
                position: absolute;
                top: 50%;
                margin-top: -23px;
                font-size: 46px;
                line-height: 1;
                z-index: 3;
                &.disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                }
                &.next {
                    right: 0;
                }
                &.prev {
                    left: 0;
                }
            }
        }
    }
}


/* Chief testimonials Slider */
.slider {
    .chief__slider {
        padding: 0;
        .slider__control {
            .arrow {
                position: static;
                margin-top: 0;
                font-size: 21px;
                &.prev {
                    margin-right: 10px;
                }
            }
        }
    }
}